body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../activity_addProducto_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:160px;
    top:17px;
    width:375px;
    height:733px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:733px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:160px;
    top:17px;
    width:375px;
    height:733px
}

.u2_original {
    background-image: url('../cabecera_files/u6_original.png');
}

.u2_container {
    position:absolute;
    left:190px;
    top:137px;
    width:320px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:190px;
    top:137px;
    width:320px;
    height:50px
}

.u5_original {
    background-image: url('../activity_addProducto_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:196px;
    top:146px;
    width:80px;
    height:30px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u6 {
    position:absolute;
    left:2px;
    top:7px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:196px;
    top:146px;
    width:80px;
    height:30px
}

.u7_original {
    background-image: url('../activity_addProducto_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:423px;
    top:146px;
    width:80px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:423px;
    top:146px;
    width:80px;
    height:30px
}

.u9_original {
    background-image: url('../formaProducto_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:191px;
    top:200px;
    width:99px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:191px;
    top:200px;
    width:99px;
    height:40px
}

.u11_original {
    background-image: url('../formaProducto_files/u9_original.png');
}

.u11_container {
    position:absolute;
    left:191px;
    top:240px;
    width:99px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:191px;
    top:240px;
    width:99px;
    height:40px
}

.u13_original {
    background-image: url('../formaProducto_files/u9_original.png');
}

.u13_container {
    position:absolute;
    left:191px;
    top:280px;
    width:99px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:191px;
    top:280px;
    width:99px;
    height:40px
}

.u15_original {
    background-image: url('../formaProducto_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:290px;
    top:200px;
    width:221px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:290px;
    top:200px;
    width:221px;
    height:40px
}

.u17_original {
    background-image: url('../formaProducto_files/u15_original.png');
}

.u17_container {
    position:absolute;
    left:290px;
    top:240px;
    width:221px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:290px;
    top:240px;
    width:221px;
    height:40px
}

.u20_original {
    background-image: url('../formaProducto_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px
}

.u22 {
    position:absolute;
    left:180px;
    top:0px;
    width:39px;
    height:40px
}

.u23_original {
    background-image: url('../formaProducto_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px;
}

.u24 {
    position:absolute;
    left:2px;
    top:14px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px
}

.u25 {
    position:absolute;
    left:180px;
    top:0px;
    width:40px;
    height:40px
}

.u26_original {
    background-image: url('../formaProducto_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px;
}

.u27 {
    position:absolute;
    left:2px;
    top:14px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:43px
}

.u28 {
    position:absolute;
    left:180px;
    top:0px;
    width:39px;
    height:40px
}

.u29_original {
    background-image: url('../formaProducto_files/u9_original.png');
}

.u29_container {
    position:absolute;
    left:191px;
    top:360px;
    width:99px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:191px;
    top:360px;
    width:99px;
    height:40px
}

.u31_original {
    background-image: url('../formaProducto_files/u15_original.png');
}

.u31_container {
    position:absolute;
    left:290px;
    top:360px;
    width:221px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:46px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:290px;
    top:360px;
    width:221px;
    height:40px
}

.u33_original {
    background-image: url('../formaProducto_files/u9_original.png');
}

.u33_container {
    position:absolute;
    left:191px;
    top:320px;
    width:99px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:191px;
    top:320px;
    width:99px;
    height:40px
}

.u35_original {
    background-image: url('../formaProducto_files/u15_original.png');
}

.u35_container {
    position:absolute;
    left:290px;
    top:320px;
    width:221px;
    height:40px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:46px;
}

.u36 {
    position:absolute;
    left:2px;
    top:12px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:290px;
    top:320px;
    width:221px;
    height:40px
}

.u38_original {
    background-image: url('../activity_addProducto_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:301px;
    top:280px;
    width:210px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:301px;
    top:280px;
    width:210px;
    height:40px
}

.u40_original {
    background-image: url('../activity_addProducto_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:190px;
    top:410px;
    width:320px;
    height:40px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:190px;
    top:410px;
    width:320px;
    height:40px
}

.u42 {
    position:absolute;
    left:277px;
    top:153px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

